* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #000000;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border-bottom: 3px solid #ffffff;
  font-size: 1rem;
}

input::placeholder {
  color: #fff;
}

input:focus {
  outline: none;
}

button {
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: #fff 1px solid;
}

ul {
  list-style: none;
  margin-top: 1rem;
}

li {
  margin: 25px auto;
  max-height: 50px;
  cursor: pointer;
  border-bottom: 3px solid #ffffff;
}

.done {
}
.done::before {
  content: "✓";
  color: green;
  font-size: 25px;
}
